N8N - AI Short Video Generator (Core) V2.json
{
  "name": "AI Short Video Generator (Core)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Kamu adalah editor podcast profesional dan ahli SEO YouTube. Tugasmu memilih 4-8 segmen terbaik dari transkrip dan membuat metadata optimasi.\\n\\nATURAN KETAT DURASI:\\n1. Tiap segmen WAJIB memiliki durasi MINIMAL 40 DETIK dan MAKSIMAL 190 DETIK.\\n2. Jika poin pembicaraan aslinya pendek, kamu WAJIB memundurkan waktu 'start' dan memajukan waktu 'end' agar durasi minimal 40 detik terpenuhi.\\n\\nATURAN METADATA YOUTUBE:\\n1. Title: Judul clickbait yang mengandung kata kunci utama.\\n2. Description: Ringkasan singkat segmen (2-3 kalimat) yang mengajak orang menonton, sertakan hashtag #shorts.\\n3. Tags: Berikan 10-15 tag relevan dipisahkan dengan koma.\\n\\nFORMAT OUTPUT WAJIB JSON MURNI:\\n{\\n  \\\"segments\\\": [\\n    {\\n      \\\"start\\\": float, \\n      \\\"end\\\": float, \\n      \\\"title\\\": \\\"Judul Clickbait\\\",\\n      \\\"description\\\": \\\"Deskripsi otomatis... #shorts\\\",\\n      \\\"tags\\\": \\\"tag1, tag2, tag3\\\"\\n    }\\n  ]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analisis transkrip ini dan berikan 4-8 segmen lengkap dengan metadata YouTube (Title, Description, Tags): \" + ($('HTTP Request (Process)').item.json.transcript || \"TEKS KOSONG\")\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n})\n}}",
        "options": {}
      },
      "id": "bdd243aa-1363-4920-8c1b-0090be13a2dc",
      "name": "DeepSeek API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2528,
        576
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mEnF63VXnexYvVsX",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"vast_api_key\": \"65ee04a1943d73885461eedc6a6ff057caa03ea1903d97ed40ec062721eb84ed\",\n  \"instance_id\": \"29556531\",\n  \"deepseek_api_key\": \"sk-880757de564b4a349fb9cde44383d026\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        160
      ],
      "id": "d0e08bb7-cd9c-4b7f-8926-93a574a59d32",
      "name": "Config Server"
    },
    {
      "parameters": {
        "url": "=https://console.vast.ai/api/v0/instances/{{ $node[\"Config Server\"].json.instance_id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Config Server\"].json.vast_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        160
      ],
      "id": "a205ca9d-a38a-43d4-b8ad-f98bf5754af0",
      "name": "Get Instance IP"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $json.instances.public_ipaddr }}:63544/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n  \"url\": \"{{ $('Limit').item.json['Video URL'] }}\" \n}",
        "options": {
          "timeout": 1000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1632,
        160
      ],
      "id": "ad1ab5ff-91af-42f0-a953-d99cdff852ec",
      "name": "HTTP Request (Process)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Get Instance IP').item.json.instances.public_ipaddr }}:63544/render_multi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  \"segments\": JSON.parse($node[\"DeepSeek API\"].json.choices[0].message.content).segments,\n  \"original_video_url\": $('HTTP Request (Process)').first().json.url\n})\n}}",
        "options": {
          "timeout": 6000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2320,
        576
      ],
      "id": "0eb2bf02-2389-4a23-95b1-87f568944b6d",
      "name": "HTTP Request (Render)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM",
          "mode": "list",
          "cachedResultName": "Ai Clipping Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "Processing"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Time (detik)",
              "displayName": "Start Time (detik)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End Time (detik)",
              "displayName": "End Time (detik)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hasil",
              "displayName": "Hasil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2320,
        160
      ],
      "id": "0bec434c-fc9c-4ff9-88db-2635041ad385",
      "name": "Update row Process",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t9o65NkJ6029czFN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM",
          "mode": "list",
          "cachedResultName": "Ai Clipping Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json[\"row_number\"] }}",
            "Status": "Done",
            "Hasil": "={{ $node[\"HTTP Request (Render)\"].json[\"results\"].map(r => r.url).join('\\n') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start Time (detik)",
              "displayName": "Start Time (detik)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End Time (detik)",
              "displayName": "End Time (detik)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hasil",
              "displayName": "Hasil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1712,
        368
      ],
      "id": "73328ed4-710b-458e-93bd-ef1d0a56a756",
      "name": "Update row Done",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t9o65NkJ6029czFN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM",
          "mode": "list",
          "cachedResultName": "Ai Clipping Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1648,
        -48
      ],
      "id": "e5042c70-5705-49e5-85a5-1e4abc921ed9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t9o65NkJ6029czFN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2528,
        160
      ],
      "id": "5dd38c9d-3b6d-45a9-84f6-8bfdae98a488",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a3e560c-4f89-49c3-8f89-c8d71ab57bc2",
              "leftValue": "={{ $node[\"Check Running Status\"].json[\"Video URL\"] }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1872,
        -48
      ],
      "id": "e26a3635-d653-4143-bf37-100d7ba855a3",
      "name": "Filter",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM",
          "mode": "list",
          "cachedResultName": "Ai Clipping Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pUwKXYzoMCZQ94gvjXGcTnX9ewIS87XEg6agdeH4_JM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2096,
        -48
      ],
      "id": "e3e0fcfb-e616-46e7-af9d-ca97eb29afbf",
      "name": "Check Running Status",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p4wvMoOkMfkFsrTF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2544,
        -48
      ],
      "id": "789f226a-389c-4f59-80e3-a9a0c616fbf8",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2320,
        -48
      ],
      "id": "a3398dd1-51c6-4e39-a83b-4c787e5ba329",
      "name": "Wait",
      "webhookId": "14eab1c1-c561-4947-9788-c7932713df33"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "ID",
        "categoryId": "24",
        "options": {
          "description": "={{ $json.description }}",
          "privacyStatus": "public",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $json.tags }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -832,
        288
      ],
      "id": "33a3692d-959f-4438-a454-e589ba9aa42e",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Teq26t3WDedDPODa",
          "name": "YouTube account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1056,
        512
      ],
      "id": "3790cef2-2210-43c5-a88f-ab9a714641c7",
      "name": "Instagram Upload"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        688
      ],
      "id": "c651af08-f8a2-4c53-babc-b10254e8bee7",
      "name": "Tiktok Upload"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2096,
        576
      ],
      "id": "41c5f88f-e1d8-4258-9c24-359c92b0a916",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Get Instance IP').item.json.instances.public_ipaddr }}:{{ $('Get Instance IP').item.json.instances.ports['8000/tcp'][1].HostPort }}/upload_direct",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "name": "title",
              "value": "={{ $json.filename.split('.')[0].split('_').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') }}"
            },
            {
              "name": "channel_alias",
              "value": "=eidosfinance"
            },
            {
              "name": "description",
              "value": "={{ JSON.parse($('DeepSeek API').item.json.choices[0].message.content).segments[$itemIndex].description }}"
            },
            {
              "name": "tags",
              "value": "={{ JSON.parse($('DeepSeek API').item.json.choices[0].message.content).segments[$itemIndex].tags }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1424,
        592
      ],
      "id": "2a714160-72ae-42e1-9ffb-1e2371fba3e8",
      "name": "Direct Upload Youtube"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1872,
        576
      ],
      "id": "1403c0b1-6e71-4ca0-90b8-eb17e5a3ac5e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1648,
        592
      ],
      "id": "7d94bccf-461a-4bf7-a65e-5ea4173ef7c2",
      "name": "Wait1",
      "webhookId": "cae5d635-a6f9-4d09-9495-1772f8cd0f15"
    }
  ],
  "pinData": {},
  "connections": {
    "DeepSeek API": {
      "main": [
        [
          {
            "node": "HTTP Request (Render)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Server": {
      "main": [
        [
          {
            "node": "Get Instance IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instance IP": {
      "main": [
        [
          {
            "node": "HTTP Request (Process)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Process)": {
      "main": [
        [
          {
            "node": "DeepSeek API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Render)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row Process": {
      "main": [
        [
          {
            "node": "Config Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Update row Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Running Status": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Running Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row Done": {
      "main": [
        []
      ]
    },
    "Instagram Upload": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Upload Youtube": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update row Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Direct Upload Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 1800
  },
  "versionId": "2d8877eb-de22-4e11-87ec-f17cde8a8cd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29c82acaaf0dcb37eed645f00cefeab8c45835994c163b4290fdda5f516ad335"
  },
  "id": "eV5jjhyh0CDRGwSW",
  "tags": []
}